/* span{
    display: none;
} */
/* div{
    width: 400px;
    margin: 20px auto;
    background-color: rebeccapurple;
    padding: 50px;
   
}
 p{
    display: none;
} */

/* .first{
    width: 400px;
    margin: 20px auto;
    background-color: rebeccapurple;
    padding: 50px; 
}
.seconed
{
    width: 400px;
    margin: 20px auto;
    background-color: red;
    padding: 50px;  
    /* display: none; */

/* .animate{
    width:300px;
    height: 400px;
    background-color: blue;
    margin:auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: brown;
    top:-500px;


    
} */
/* .animate-1{
    width:300px;
    height: 400px;
    background-color: yellow;
    margin:auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: brown;
   

}
.stop{
    width: 300px;
    height: 200px;
    background-color: aqua;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chain{
    width: 300px;
    height: 200px;
    background-color: aqua;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center; 
} 
.html{
    width: 300px;
    height: 200px;
    background-color: aqua;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.getcss{
    background: red;
    padding: 10px;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}
.specfic-width{
    background: rebeccapurple;
    width: 800px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    overflow: hidden;
    width: 800px;
}
.container .left{
   float: left;
   width: 490px;
   background: red;
}
.container .right{
    float: right;
    width: 300px;
    background: red;
 }
 .contents{
    width: 500px;
    height: 600px;
    background-color: aqua;
    padding: 20px;
    margin: 20px;
    border: 3px  solid red;
 } */ 

  /* span{
    display: block;
 }  */

 /* div,p,aside ,span{
    width: 500px;
    height: 50px;
    background-color: aqua;
    padding: 20px;
    margin: 20px;
    
 } */

 /* .asss{
    width:400px;
    background-color: red;
    height: 500px;
 } */
 /* .enas{
    color: red;
    /* width:400px;
    background-color: red;
    height: 500px; 
 } 
 .amira{
    color: red;
    width: 900px;
    height: 200px;
    background-color: red;
    border: 5px solid black ; 
 } 
 */
 .display{
    display: none;
 }
 .color{
    background-color: aqua;
 }
  /* *{
    padding: 0;
    margin: 0;
 }*/
 /* .section{
    background-color: brown;
    height: 100%;
 }
.hidden{
    background-color: aqua;
    color:red;
}
.scroll{
    background-color: brown;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 0;
    right: 0;
  
} */
/* .Sircle{
    background-color: brown;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: none;
} */
/* span{
    display: none;
} */

/* div{
    background-color: brown;
    width: 200px;
    height: 200px;
    position: absolute;
     left:100;
    top:105; 
} */
/* body{
    height: 4000px;
} */

/* .parent{
    width:400px;
    height:900px;
    background-color: brown;
    position: relative;
    margin-top: 50px;
    margin-left: 50px;
}
.child{
    position:absolute;
    background-color: aqua;
    left:100;
    top:400;
} */
/* *{
    margin: 0;
} */

button{
    display:none;
}