/* span{
    display: none;
} */
/* div{
    width: 400px;
    margin: 20px auto;
    background-color: rebeccapurple;
    padding: 50px;
   
}
 p{
    display: none;
} */

.first{
    width: 400px;
    margin: 20px auto;
    background-color: rebeccapurple;
    padding: 50px; 
}
.seconed
{
    width: 400px;
    margin: 20px auto;
    background-color: red;
    padding: 50px;  
    /* display: none; */
}