/* span{
    display: none;
} */
/* div{
    width: 400px;
    margin: 20px auto;
    background-color: rebeccapurple;
    padding: 50px;
   
}
 p{
    display: none;
} */

.first{
    width: 400px;
    margin: 20px auto;
    background-color: rebeccapurple;
    padding: 50px; 
}
.seconed
{
    width: 400px;
    margin: 20px auto;
    background-color: red;
    padding: 50px;  
    /* display: none; */
}
.animate{
    width:300px;
    height: 400px;
    background-color: blue;
    margin:auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: brown;
    top:-500px;


    
}
.animate-1{
    width:300px;
    height: 400px;
    background-color: yellow;
    margin:auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: brown;
   

}
.stop{
    width: 300px;
    height: 200px;
    background-color: aqua;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chain{
    width: 300px;
    height: 200px;
    background-color: aqua;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center; 
}
